.navbar .container {
  text-align: center;
}
.navbar .brand {
  padding: 0;
  margin: auto;
  float: none;
}
.navbar .brand img {
  border: none;
}

.connect {
  text-align: center;
  margin: 3em 0;
}

form.sync {
  margin: 0 0 3em 0;
  padding: 2em 0 0 0;
  border-radius: 1em;
  background-color: #f5efed;
/*  background-image: linear-gradient(left , rgb(255,255,255) 0%, rgb(245,239,237) 50%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 0%, rgb(245,239,237) 50%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 0%, rgb(245,239,237) 50%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 0%, rgb(245,239,237) 50%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 0%, rgb(245,239,237) 50%, rgb(255,255,255) 100%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.5, rgb(245,239,237)),
    color-stop(1, rgb(255,255,255))
  );*/
  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,239,237) 100%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,239,237) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,239,237) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,239,237) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,239,237) 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(255,255,255)),
  	color-stop(1, rgb(245,239,237))
  );
  text-align: center;
}

form.sync .form-actions {
  margin-bottom: 0;
  text-align: right;
}
form.sync table {
  margin: auto;
}
form.sync th {
  text-align: center;
}
form.sync td {
  text-align: left;
}
form.sync td.sync_button_td {
  text-align: center;
}
form.sync td.data {
  width: 220px;
}
form.sync input {
  margin-bottom: 0;
}
form.sync .runkeeper_name {
  padding: 0 0.4em;
}
form.sync .recent_public_activities,
form.sync .sns_options {
  vertical-align: top;
}
form.sync .recent_public_activities h3 {
  font-size: 1.1em;
}

.howtouse {
  
}

.sns {
  margin: 3em 0 0 0;
}

.sns div {
  float: right;
  margin-right: 0.2em;
}

.comments {
  margin: 3em 0;
}

footer {
  margin: 4em 0 0 0;
  padding: 2em 0;
  border-top: 1px solid #ccc;
  text-align: right;
}