<div class='connect_info'>
  <a href='<%= url('/auth/runkeeper')%>'>
    <img id='connect_image' src='<%= url('/img/connect-blue-black-300x57.png')%>' width='300' height='57' alt='Connect to RunKeeper'>
  </a>
</div>