
<div class='container'>
  <div class='row'>
    <div class='span8 offset2'>
      <form method='post' action='<%=url('/')%>' class="sync form-horizontal">

        <div id='garmin_id_group' class="control-group">
          <label class="control-label" for="garmin_id">Garmin ID</label>
          <div class="controls">
            <input type='text' id='garmin_id' name='garmin_id' value='<%=h @user.garmin_id %>' >
            <p class="help-block">
              <% if @user.garmin_id %>
                  <h4>Your recent Garmin Connect public activities are:</h4>
                  <div id='public_activities'></div>
              <% else %>
                <h4>What is Garmin ID?</h4>
                <img src='<%= url('/img/what-is-garmin-id.jpg')%>' >
              <% end %>
            </p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for='post_to_facebook'>Post to facebook</label>
          <div class="controls">
            <label class='checkbox'>
            <% if @user.post_to_facebook %>
              <input type='checkbox' name='post_to_facebook' checked='checked' id='post_to_facebook' >
            <% else %>
              <input type='checkbox' name='post_to_facebook' id='post_to_facebook' >
            <% end %>
            Post activity change to Facebook.</label>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for='post_to_twitter'>Post to twitter</label>
          <div class="controls">
            <label class='checkbox'>
            <% if @user.post_to_twitter %>
              <input type='checkbox' name='post_to_twitter' checked='checked' id='post_to_twitter' >
            <% else %>
              <input type='checkbox' name='post_to_twitter' id='post_to_twitter' >
            <% end %>
            Post activity change to twitter.</label>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><i class='icon-refresh icon-white'></i> Sync</button>
          <button type='reset' class="btn">Cancel</button>
          <button type='submit' class='btn btn-danger' name='delete' value='true'>Delete</button>
          <%= csrf_tag %>
        </div>
      </form>
    </div>
  </div>

  <div class='row'>
    <div class='span8 offset2'>
      <h2>Notice</h2>
      <ol>
        <li>Only public activities will be imported to RunKeeper.</li>
        <li>Only running activities will be imported to RunKeeper.</li>
      </ol>
    </div>
  </div>

</div>

