
<div class='container'>
  <div class='row'>
    <div class='span8 offset2'>
      <p class='connect'><a href='<%= url('/auth/runkeeper')%>'>
        <img src='<%= url('/img/connect-blue-black-300x57.png')%>' width='300' height='57' alt='Connect to RunKeeper'>
      </a></p>
    </div>
    <div class='span6 offset3 howtouse'>
      <h3>How to use</h3>
      <ol>
        <li>Connect to Runkeeper.</li>
        <li>Input Garmin Connect ID.</li>
      </ol>
    </div>
  </div>
</div>


