<ul>
  <% @user.recent_public_activities.each do |item| %>
    <li><a href='<%=item.link%>'><%=h item.title%></a></li>
  <% end %>
  <% if @user.recent_public_activities.size == 0 %>
    <li><span class="label label-warning">Activities Not Found</span>
      <ul>
      <li>Maybe your Garmin ID was incorrect.</li>
      <li>Or you don't have public activities.</li>
      </ul>
    </li>
    <script type='text/javascript'>
    <!--//
    $('#garmin_id_group').addClass('error');
    //-->
    </script>
  <% end %>
</ul>
